@import './fonts.scss';

*, 
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFFAF0;
  font-family: 'San Francisco', sans-serif;
  font-weight: 400;
}

.header {
  padding: 1.5rem;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__left-side,
  &__right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
  }

  &__logo {
    background-image: url(../assets/img/header-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 6rem;
    height: 6rem;
  }

  &__title {
    font-family: 'Chococooky', sans-serif;
    font-weight: 400;
  }

  &__search {
    height: 2rem;
    width: 16rem;
    padding: 0.5rem;
    border-radius: 5%;
  }

  &__shopcart {
    background-image: url(../assets/img/header-cart.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 6rem;
    max-width: 6rem;
    height: 6rem;
  }
}